SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
# products, cart
SHOPIFY_STOREFRONT_ACCESS_TOKEN=your_storefront_access_token
SHOPIFY_ADMIN_ACCESS_TOKEN=your_admin_access_token
# comma-separated segment GIDs for header badge (optional)
# SHOPIFY_SEGMENT_IDS=gid://shopify/Segment/123,gid://shopify/Segment/456

# for creating order
SHOPIFY_APP_CLIENT_ID=your_app_client_id
SHOPIFY_APP_CLIENT_SECRET=shpss_your_app_client_secret

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
